body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.colored-section {
  background-color: #FF9F29;
  color: #FAF3E3;
}

.white-section {
  background-color: #FAF3E3;
}

/* Navigation Bar */
.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 100;
}

/* Title Section */

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

.email-input {
  margin-left: -5px;
}

.predictr-character-img {
  padding-left: 50px;
  width: 50%;
  right: 30%;
}


#features {
  position: relative;
  z-index: 1;
}

.feature-title {
  font-size: 1.5rem;
  line-height: 1.5;
}

.feature {
  list-style-type: none;
  width: 50%;
  margin: auto;
  padding: 5%;
}

p {
  color: #8f8f8f;
}

/* Headings */
.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.feature-icon {
  color: #FF9F29;
}

.feature-icon:hover {
  color: #ff4c68;
}

/* Testimonial section */
#testimonials {
  background-color: #FF9F29;
  color: #FAF3E3;
  position: relative;
  z-index: 1;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.card-button {
  width: 100%;
}

.card-body {
  text-align: left;
}

/* how-to-play Section */
#how-to-play {
  padding: 100px;
}

.how-to-play-column {
  padding: 3% 2%;
}

.social-icon {
  padding: 0 1% 2% 1%;
  color: #FF9F29;
  text-decoration: none;
}

@media (max-width: 991px) {
  #title {
    text-align: center;
  }

  .predictr-character-img {
    transform: rotate(0deg);
    position: static;
    width: 60%;
    padding-left: 0;
  }
}
